body{
    background-image:url("irctc.png");
    background-size:cover;
}

strong{
    margin-left:4rem;
    font-size:2rem;
}

button{
    margin-left:10em;
    display:inline-block;
    padding:0.7em 1.4em;
    
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}
button:active{
    top:0.1em;
}