body{
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: sans-serif;
    align-content: center;
    align-self: center;
    align-items: center;
}
.container{
    width: 1280px;
    min-height: 500px;

    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
.container .box{
    position: relative;
    width: 250px;
    height: 250px;
    background: black;
    margin: 35px;
    box-sizing: border-box;
    display: inline-block;

}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img{
    max-width: 100%;
    transition: tranform 2s;
}
.container .box:hover .imgBox img{
    transform: scale(1.2)
}

.thecard:hover{
    transform : rotateX(180deg);
}
.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
}
.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333;
}
